# This is Git's per-user configuration file.
[user]
	name = SAMUEL PRABAKARAN M
	email = sampraba.joy@gmail.com
# Please adapt and uncomment the following lines:
#	name = SAMUEL PRABAKARAN M
#	email = sampraba.joy@gmail.com
